.navigation {
   width: 90%;
   height: 30px;
   grid-template-columns: 100px 100px 100px;
   margin: 0 auto 2rem auto;
   padding: 2rem 20%;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.navigation__pagination {
   place-items: center;
   text-align: center;
}
